RewriteEngine On

RewriteRule ^(events|categories|users|likes|comments|replies|tickets|auth|registration|session)/?$ routes/$1.php [NC,L]
RewriteRule ^(events|categories|users|likes|comments|replies|tickets|auth|registration|session)/([0-9]+)/?$ routes/$1.php?id=$2 [NC,L]
